button {
  background-color: black;
  color: white;
  border: none;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  font-size: large;
}
button:hover {
  color: lightcyan;
}
.navButtons a {
  text-decoration: none;
  color: white;
}
.navButtons a:visited {
  color: white;
}
.navButtons a:hover {
  color: white;
}
